<h2 class="block-title">Core Values <small>(from <a href="https://www.firstinspires.org/robotics/fll/core-values">http://www.firstlegoleague.org/about-fll</a>)</small></h2>

<p>The <em>FIRST</em> Core Values are the cornerstones of the program. They are among the fundamental
  elements that distinguish <em>FIRST</em> LEGO League from other programs of its kind. By embracing the Core Values,
  participants learn that friendly competition and mutual gain are not separate goals, and that helping one another is
  the foundation of teamwork.</p>
<p>We express the <em>FIRST</em> philosophies of <em>Gracious Professionalism</em> and <em>Coopertition</em> through
  our Core Values:</p>
<ul>
  <li><strong>Discovery:</strong> <em>We explore new skills and ideas.</em></li>
  <li><strong>Innovation:</strong> <em>We use creativity and persistence to solve problems.</em></li>
  <li><strong>Impact:</strong> <em>We apply what we learn to improve our world.</em></li>
  <li><strong>Inclusion:</strong> <em>We respect each other and embrace our differences.</em></li>
  <li><strong>Teamwork:</strong> <em>We are stronger when we work together.</em></li>
  <li><strong>Fun:</strong> <em>We enjoy and celebrate what we do!</em></li>
</ul>