---
skipIndexing: true
---
@import "{{ site.theme }}";

#site-title {
  cursor: pointer;
}

nav ul li {
  list-style-image: none;
}

nav.navbar {
  background-color: transparent!important;
}

#site-title {
  font-size: 24px;
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1);
}

#tagline {
  margin-left: 20px;
  margin-right: 20px;
}